@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;600;700&display=swap');

/*  root pseudo-class. The :root selector represents the highest-level parent element,
--x => variable 
*/
:root{
    /* variales */
  --primary-color:#2f2f2f;
  --text-dark : #18181b; 
  --text-light :#71717a ; 
  --white:#ffffff;
  --max-width:1200px; 
  --header-font :"Lora" , serif ; 

}


*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    /* effectively centering the element. in the parent container
    means that we tell the browser to cal the margin same on different sides
    */
    margin : auto ; 
    /* if we set the root font size = 16 px so the 1 rem = 16 px
    if we set it 32 px so the 1 rem =32 ; 
    */
    padding : 5rem 1rem ;
}

.section_header{
    margin-bottom: 1 rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color : var(--text-dark)
} 
.section_subheader{
    color: var(--text-light);
 } 
 .btn {
    font-size: 1rem;
    padding: 0.75rem 2rem;
    background-color: black;
    border-radius: 5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: black;
}


.btn:hover {
    background-color: gray;
}
img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
}

/* <html> element ensures that smooth scrolling behavior is applied to the entire document, 
including the viewport and any scrollable elements within the documen */

/* body selector in this context is often necessary for ensuring consistent behavior across different browsers.  */
html,body{

    scroll-behavior: smooth;
}

body{
    font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
}

.header{
    background-image: linear-gradient(
to bottom, rgba(0,0,0,0.7),
rgba(0,0,0,0.3) ), url("../assets/picture-modern-living-room-interior-design-wallpaper-preview.jpg");
background-position: center center;
background-size: cover;
background-repeat: no-repeat;


}


nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo{
    flex: 1;
}

.nav_logo a{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
color: var(--white);
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
position: relative;
padding: 10px 0 ;
color: var(--white);
transition: 0.3s;
}
/* n CSS, ::after is a pseudo-element that is used to insert content after the content of an element. It is often used in combination with the  */
.link a::after{
position: absolute;
content: "";
bottom: 0;
left: 50%;
transform: translateX(-50%);
height: 2px;
width: 0;
background-color: var(--white);
transition: 0.3s;
}

.link a:hover::after{
    width: 100%;
}
.nav_menu_btn {  
    display: none;
    font-size: 1.5rem;
   color: var(--white);
}

.nav_actions{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

}

.nav_actions span {
    font-size: 1.2rem ;
    color: var(--white);
    cursor: pointer;
}

.header_container{
    text-align: center;
    color: var(--white);

}

.header_container h1{
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}

.header_container p {
    max-width: 600px;
    margin-inline:auto ;
    margin-bottom: 4rem ;
    font-size: 1.2rem;

}

.header_container a{
    display: inline-block;
    padding: 0 12px;
    font-size: 3rem;
    color: var(--white);
    backdrop-filter: blur(10px);
    border: 1px solid var(--white);
    border-radius: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0 ;
}

.section-p1{
    padding: 40px 80px ;
}

.section-m1{
    margin: 40px 0  ;
    margin-right: 20px;
}


button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color :black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}






#product1 .pro{
width: 23%;
min-width: 250px;
padding: 10px 12px;
border: 1px solid rgb(31, 30, 30);
border-radius: 25px;
box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
margin: 12px 0 ;
transition:0.5 ease ;
cursor: pointer;

position: relative;

}
#product1 .pro:hover{
transform: scale(1.0);
box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}



#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}


#product1 .pro .des{

    text-align: start;
    padding: 10px 0;
  
}


#product1 .pro .des span{

    color: #606063;
    font-size: 12px;
   
}


#product1 .pro img{
    padding-top:7px ;
    color: #1a1a1a;
    font-size: 14px;
}



#product1 .pro .des i {
    font-size: 12px;
    color: rgb(252, 191, 39);
    
}


#product1 .pro .des h4 {

    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
color: rgb(90, 90, 90);

}


#product1 .pro  .cart {

padding: 9px;
border-radius: 50px;
background-color: rgb(253, 224, 217);
color:rgb(241, 165, 114);
position: absolute;
/* when we use absolute we should go to 
parent element and set the position as relative

*/
bottom: 20px;
right: 10px;
}


#banner {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
/* background-image: url("assets/Grey\ and\ White\ Minimalist\ Clean\ Simple\ Interior\ Designer\ Linkedin\ Banner\ \(2\).png"); */
background-image: url("../assets/banner2.PNG");
text-align: center;
width: 100%;
height: 30vh;
background-size: cover;
background-repeat: no-repeat;

}
#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: wheat;
    font-size: 60px;
    padding: 10px 0;


}

#banner h2 span{
    color:rgb(104, 60, 19) ;
    font-size: 60px;

}

.choose_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}
/* dot image */
.choose_container .choose_bg{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-3rem);
    max-width: 300px;
    opacity: 0.4;
    z-index: -1;

}


.choose_grid{
    display: grid;

    margin-top: 2rem;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem 1rem;
}

.choose_card span{
    display: inline-block;

    background-color: rgb(253, 224, 217);
    margin-bottom: .5rem;
    padding :5px 10px;
    font-size: 1.25rem;
    border-radius: 50px;

}

.choose_card h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.choose_card p { 
    color: var(--text-light);

}

.choose_image img{
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}



/* cart page */

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#cart table img {
    width: 5px;

}
#cart table td :nth-child(1){
width: 100px;
text-align: center;

}
#cart table td :nth-child(2){
    width: 150px;
    text-align: center;
    
    }

#cart table td :nth-child(3){
    width: 250px;
    text-align: center;
    
    }


    #cart table td :nth-child(4),
    #cart table td :nth-child(5),
    #cart table td :nth-child(6){
        width: 150px;
        text-align: center;
        
        }

        #cart table td:nth-child(5) input{
            width: 70px;
            padding: 10px 5px 10px 15px;            
            }

            #cart table thead{
                border: 1px solid #e2e9e1;
                border-left: none;
                border-right:none ; 
                }

                #cart table thead td{
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 13px;
                    padding: 18px 0 ;
                    }
    
                    #cart table tbody tr td{
                      padding-top: 15px;
                        }

                        #cart table tbody td{
                            font-size: 13px;
                        
                            }
 #subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;

 }    

 #subtotal table{
    border-collapse:collapse ;
    width: 100%;
    margin-bottom: 20px;
 }


 #subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
    
 }

 #subtotal h3{
    padding-bottom:15px ;
 }


 @media(width <900px){
   .nav_actions {
        display: none;
    }

    .choose_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .choose_container .choose_bg {
        left: 0;
        transform: translateX(0);
    }

    .choose_image{
        grid-area: 1/1/2/2;
    }
 }

 @media(width<600){
    nav{
        position: fixed;
        width: 100%;
        padding: 1rem;
        background-color: black;
        z-index: 99;
    }

    .nav_links{
        position: absolute;
        left: 0;
        top: 68px;
        padding: 2rem;
        width: 100%;
        flex-direction: column;
        transform: scaleX(0);
        transform-origin: top;
        transition: .5s;
        background-color: (0,0,0,0.9);
    }

    .nav_links .link a{
        opacity: 0;
    }
    .nav_links.open .link a{
        opacity: 1;
    }
    .nav_links.open{
        transform: scaleY(1);
    } 
    .nav_menu_btn{
        display: block;
    }
    .header_container h1{
        margin-top: 4rem;
        font-size: 3.5rem;
    }
 }


 .fsec{
    font-size: 50px;
    line-height: 64px;
    color: #000000;
    font-family: 'Spartan';
}

.psec{
    font-size: 16px;
    color: rgb(20, 18, 18);
}


.message{
    display: block;
    background-color: rgb(0, 0, 0);
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: black;
}


.product-image {
    width: 100%; /* Set the width to 100% to make sure it takes the full width of its container */
    height: auto; /* Allow the height to adjust proportionally based on the width */
    max-height: 300px; /* You can adjust the max-height as per your design requirements */
    object-fit: cover; /* This property ensures that the image covers the entire container while maintaining its aspect ratio */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }
  