@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,800;1,100;1,200&family=Roboto:wght@300;500&display=swap');
/* shop page */

#page-header
{
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: burlywood; /*browen*/
    /* padding: 14px; */
}
#product1 .pro-conatainer
{
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap;
}
#product1
{
    text-align: center;
}
#product1 .pro
{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid brown;
    border-radius: 25px;
    cursor: pointer;
    /* box-shadow: 20px 20px 30px bisque; */
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover
{
    box-shadow: 20px 20px 30px #FAEED1;
}
#product1 .pro img
{
   width: 100%;
   border-radius: 20px;
}
#product1 .pro .des
{
    text-align: start;
    padding: 5px 0;
}
#product1 .pro .des span
{
    color: #E48F45;
    font-size: smaller;
}
#product1 .pro .des h5
{
   padding-top: 7px;
   color: #994D1C;
   font-size: larger;
}
#product1 .pro .des i
{
   font-size: large;
   color: rgb(243, 181, 25);
}
#product1 .pro .des h4
{
  /* padding-top: 7px; */
  font-size: 15px;
  font-weight: 700;
  color: #BA704F;
}
#product1 .pro #cart
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #F4F2DE;
    font-weight: 500;
    color: #BA704F;
    border: 1px solid #BA704F;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
/* no of pages */
#pagination
{
   text-align: center; 
}
#pagination a
{
   text-decoration: none;
   background-color: bisque;
   padding: 15px 20px;
   border-radius: 4px;
   color: white;
   font-weight: 600;
}
#pagination a i
{
   font-size: 16px;
   font-weight: 600;
}

/* singleproduct */
#prodetails 
{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image
{
    width: 40%;
    margin-right: 50px;
}
.small-img-group
{
    display: flex;
    justify-content: space-between;
}
.small-img-col
{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details
{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4
{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2
{
     font-size: 26px;
}
#prodetails .single-pro-details select
{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus
{
   outline: none;
}
#prodetails .single-pro-details button
{
    background: #BA704F;
    color: white;
}
#prodetails .single-pro-details span
{
    line-height: 25px;
}


/* media quary */
/* #prodetails
{
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-image
{
    width: 100%;
    
} */
